label {
    font-family: sans-serif;
    font-size: 1rem;
    padding: 10px 10px;
}

select {
    font-size: 1rem;
    padding: 10px 10px;
}

.buttons{
    height:100px;
    width:200px;
    font-size: xx-large;
    padding: 10px;
}

.svgObject{
    padding: 10px;
}
